/*      All pages     */

*{
  font-family: "Abel", sans-serif;
}

body {
  background-color: #ddd;
  margin: 0;
}

main {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  padding: 4%;
  box-sizing: border-box;
}

/*      Header/Log in     */

header {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
}

#headerimg {
  width: 100%;
  position: relative;
  height: auto;
}

h1 {
  margin: 0;
  padding: 2%;
}

#logindiv{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: right;
  position: absolute;
  width: 95%;
  z-index: +1;

}

#logindiv > #login{
  background-color: #cccccc;
  padding: 1.1%;
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 22px;
}

.hamburger{
  display: block;
}

.hamburger > img {
  width: 40px;
  height: auto;
}

.topnav{
  display: none;
  overflow: hidden;
  height: inherit;
  background-color: #efefef;
}

.topnav.open{
  display: block;
}

.topnav > ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: inherit;
}

.topnav > ul > li {
  list-style: none;
  height: inherit;
  margin-top: -0.5%;
}

.topnav > ul > li > a {
  text-decoration: none;
  color: #999999;
  font-size: 18px;
  margin: 1.5%;
  padding: 0.5%;
  float: left;
}

.topnav > ul > li > a:hover {
  color: #7c7c7c;
  cursor: pointer;
}

.active{
  border: solid green 2px;
  border-radius: 25%;
}

/*      Home     */

#publicgalleries {
  text-align: center;
}

/*      Contact     */

h2 {
  padding-bottom: 2px;
  border-bottom: solid #000 1.5px;
}

#contactpage {
  overflow: hidden;
}

#contactleft {
  width: 50%;
  float: left;
}

#contactleft > p {
  margin-top: 0;
}

#contactright {
  width: 50%;
  float: right;
  margin-bottom: 40px;
}

#contactleft > li {
  list-style: none;
  font-weight: bold;
}

.sociallinks {
  text-decoration: none;
  color: #999999;
  font-weight: normal;
}

.sociallinks:hover {
  color: #7c7c7c;
}

#contactform {
  margin-bottom: 40px;
  width: 70%;
  padding: 15px;
  padding-bottom: 20px;
  border: 1px solid #000;
  margin: 0 auto;
  overflow: hidden;
}

#contactform > h2 {
  margin: 0;
  margin-top: 10px;
}

#contactsubmit {
  float: right;
}

.contacth3 {
  margin: 0;
  margin-bottom: 3px;
  margin-top: 10px;
  font-size: 16px;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
}

/*      About Us   */

h4{
  margin-bottom: 0;
  font-size: 19px;
  color: #967b39;
}

#logo{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

p{
  margin-top: 0;
}


/*      Footer     */

footer {
  background-color: #efefef;
  margin: 0 auto;
  padding-left: 10%;
  width: 95%;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  padding-top: 3%;
  padding-bottom: 5%;
}

footer > p {
  margin: 0;
  font-weight: bold;
}

footer > p > a {
  text-decoration: none;
  font-weight: normal;
  color: #999999;
}

footer > p > a:hover {
  color: #7c7c7c;
  cursor: pointer;
}

footer > a > img {
  width: 30px;
}

@media (min-width: 550px;){

.hamburger {
  display: none;
}


}
