/*      All pages     */

*{
  font-family: "Abel", sans-serif;
}

body {
  background-color: #ddd;
  margin: 0;
  min-width: 320px;
}

main {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  padding: 4%;
  padding-top: 0;
  box-sizing: border-box;
}

#indexmain {
  padding: 0;
}


/*      Header/Log in     */

header {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

#headerimg {
  width: 100%;
  position: relative;
  height: auto;
}

h1 {
  margin: 0;
  padding: 2%;
}

#logindiv{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: right;
  position: absolute;
  width: 95%;
  z-index: +1;
  min-width: 304px;

}

#logindiv > #login{
  background-color: #f79c00;
  padding: 1.1% 2.5%;
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 21px;
}

#hamburger{
  margin-top: 5%;
  margin-bottom: 0%;
  width: 100%;
  display: inline-block;
}

#hamburger > img {
  width: 8%;
  height: auto;
  float: right;
  margin-right: 10px;
  display: block;
}

#topnav{
  display: none;
}

#topnav.open{
  display: block;
}

#topnav > ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#topnav > ul > li {
  list-style: none;
  margin-top: -0.5%;
}

#topnav > ul > li > a {
  text-decoration: none;
  color: #999999;
  font-size: 18px;
  margin: 1.5%;
  padding: 0.5%;
  float: left;
}

#topnav > ul > li > a:hover {
  /*color: #7c7c7c;*/
  cursor: pointer;
  border-bottom: 2px solid #ffcc75;
  color: #d1d1d1;
}

.active{
  /*border: solid #967b39 2px;
  border-radius: 5px;*/
  border-bottom: 2px solid #f79c00;
  /*background-color: rgba(247, 156, 0, 0.2);*/
}

.active:hover {
  /*border: solid #7a652f 2px;*/
  border-bottom: 2px solid #f79c00;
}


/*      Home     */

#publicgalleries {
  text-align: center;
  overflow: hidden;
}

#exploreh2 {
  margin-bottom: 0;
  font-size: 25px;
  border-bottom: none;
  padding: 0;
  margin-top: 20px;
}

#searchform {
  margin-bottom: 40px;
}

#searchform > input {
  width: 70%;
  line-height: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

#questionbutton {
  height: 20px;
  float: right;
  margin-top: -63px;
  margin-right: 7%;
}

#questionbutton:hover {
  opacity: 0.8;
}

#placeholderimg {
  width: 320px;
  margin-bottom: 10px;
}

#infotext {
  background-color: rgba(0, 0, 0, 0.4);
  width: 160px;
  height: 80px;
  border-radius: 5px;
  float: right;
  color: #fff;
  position: absolute;
  padding: 20px;
  margin-left: 53px;
  margin-top: 20px;
}

.close {
	display: none;
}

.closed {
	display: none;
}

.open {
	display: block;
}

#loadlink {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 20px;
}

/*     Account      */

.forms > a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

main > .forms > a:hover{
font-weight: 700;
color: #ffffff;
}


/*      Contact     */

h2 {
  margin-top: 0;
  padding-top: 0%;
  padding-bottom: 2px;
  border-bottom: solid #000 1.5px;
}

#contactpage {
  overflow: hidden;
}

/*#contactleft {
  width: 50%;
  float: left;
}*/

#contactleft > p {
  margin-top: 0;
}

#contactright {
  /*width: 50%;
  float: right;*/
  margin-bottom: 40px;
  margin-top: 20px;
}

.forms {
  margin-bottom: 40px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f79c00;
  /*border: 2px solid #e0e0e0;*/
  text-align: center;
}

.forms > h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.forms > input {
  width: 100%;
  padding: 8px 0;
  padding-left: 8px;
  font-size: 12px;
  margin-top: 8px;
  border: none;
  background-color: #fff;
}

.forms > input:focus {
  outline: 2px solid #e0e0e0;
}

.forms > input::placeholder {
  color: #bababa;
}

.forms > .formsubmit {
  width: 60px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  padding: 0;
  background-color: #f79c00;
}

.forms > .formsubmit:focus {
  outline: none;
}

.forms > .formsubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  border: none;
  background-color: #fff;
  min-width: 234.41px;
}

textarea:focus {
  outline: 2px solid #e0e0e0;
}


/*      About Us   */

h4{
  margin-bottom: 0;
  font-size: 19px;
  /*color: #967b39;*/
  color: #f79c00;
}

#logo{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.aboutusp{
  margin-top: 0;
  margin-bottom: 0;
}

.aboutusimg {
  display: block;
  width: 60px;
  height: auto;
  margin-left: auto;
  margin-right: 2%;
}


/*      Footer     */

footer {
  background-color: #efefef;
  margin: 0 auto;
  padding-left: 10%;
  width: 95%;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  padding-top: 3%;
  padding-bottom: 5%;
}

footer > p > a:hover {
  color: #7c7c7c;
  cursor: pointer;
}

footer > a > img {
  width: 30px;
  margin-bottom: 15px;
}

footer > a > img:hover {
  opacity: 0.8;
}

/*      Media     */

@media (min-width: 640px){

#hamburger {
  display: none;
}

#topnav {
  display: block;
}

}


/*
    400 mobile
    640 tablet
    960 full screen
*/
