/*      All pages     */

*{
  font-family: "Abel", sans-serif;
}

body {
  background-color: #ddd;
  margin: 0;
  min-width: 320px;
}

main {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  padding: 4%;
  padding-top: 0;
  box-sizing: border-box;
}


/*      Header/Log in     */

header {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}

#headerimg {
  width: 100%;
  position: relative;
  height: auto;
}

h1 {
  margin: 0;
  padding: 2%;
}

#logindiv{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: right;
  position: absolute;
  width: 95%;
  z-index: +1;
  min-width: 304px;

}

#logindiv > #login{
  background-color: #cccccc;
  padding: 1.1%;
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 22px;
}

.hamburger{
  margin-top: 2%;
  margin-bottom: 5.2%;
  width: 100%;
  display: inline-block;
}

.hamburger.open{
  display: none;
  /*transition: color 3s ease-out;*/
}

.hamburger > img {
  width: 8%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.topnav{
  display: none;
}

.topnav.open{
  display: block;
}

.topnav > ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.topnav > ul > li {
  list-style: none;
  margin-top: -0.5%;
}

.topnav > ul > li > a {
  text-decoration: none;
  color: #999999;
  font-size: 18px;
  margin: 1.5%;
  padding: 0.5%;
  float: left;
}

.topnav > ul > li > a:hover {
  color: #7c7c7c;
  cursor: pointer;
}

.active{
  border: solid #967b39 2px;
  border-radius: 5px;
}

.active:hover {
  border: solid #7a652f 2px;
}


/*      Home     */

#publicgalleries {
  text-align: center;
  overflow: hidden;
}

#exploreh2 {
  margin-bottom: 0;
  font-size: 25px;
  border-bottom: none;
  padding: 0;
  margin-top: 20px;
}

#searchform {
}

#searchform > input {
  width: 80%;
  line-height: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#questionmark {
  height: 20px;
  float: right;
  margin-top: -39px;
  margin-right: 10px;
}


/*      Contact     */

h2 {
  margin-top: 0;
  padding-top: 16%;
  padding-bottom: 2px;
  border-bottom: solid #000 1.5px;
}

#contactpage {
  overflow: hidden;
}

#contactleft {
  width: 50%;
  float: left;
}

#contactleft > p {
  margin-top: 0;
}

#contactright {
  width: 50%;
  float: right;
  margin-bottom: 40px;
}

#contactleft > li {
  list-style: none;
  font-weight: bold;
}

.sociallinks {
  text-decoration: none;
  color: #999999;
  font-weight: normal;
}

.sociallinks:hover {
  color: #7c7c7c;
}

#contactform {
  margin-bottom: 40px;
  width: 70%;
  padding: 15px;
  padding-bottom: 20px;
  border: 1px solid #000;
  margin: 0 auto;
  overflow: hidden;
}

#contactform > h2 {
  margin: 0;
  margin-top: 10px;
}

#contactsubmit {
  float: right;
}

.contacth3 {
  margin: 0;
  margin-bottom: 3px;
  margin-top: 10px;
  font-size: 16px;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
}


/*      About Us   */

h4{
  margin-bottom: 0;
  font-size: 19px;
  color: #967b39;
}

#logo{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.aboutusp{
  margin-top: 0;
  margin-bottom: 0;
}

.aboutusimg {
  display: block;
  width: 60px;
  height: auto;
  margin-left: auto;
  margin-right: 2%;
}


/*      Footer     */

footer {
  background-color: #efefef;
  margin: 0 auto;
  padding-left: 10%;
  width: 95%;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  padding-top: 3%;
  padding-bottom: 5%;
}

footer > p {
  margin: 0;
  font-weight: bold;
}

footer > p > a {
  text-decoration: none;
  font-weight: normal;
  color: #999999;
}

footer > p > a:hover {
  color: #7c7c7c;
  cursor: pointer;
}

footer > a > img {
  width: 30px;
}

/*      Media     */

@media (min-width: 550px){

.hamburger {
  display: none;
}

.topnav {
  display: block;
}

}


/*
    400 mobile
    640 tablet
    960 full screen
*/
